@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}

.myClassImage {
  margin-top: 50px;
  height: 150px;
  width: 150px;
}

.myClassTextfield {
  height: 50px;
  text-align: center;
}
